@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --header-height: 50px;
    --sidebar-width: 250px;

    --xx-background: 0deg 0% 100%;
    --xx-foreground: 0deg 0% 26.27%;
    --xx-primary: 0deg 83.54% 62.16%;
    --xx-primary-foreground: var(--xx-foreground);
    --xx-secondary: 0deg 8.29% 39%;
    --xx-secondary-foreground: var(--xx-foreground);
    --xx-surface: 60deg 9.09% 92.84%;
    --xx-surface-foreground: var(--xx-foreground);
    --xx-border: 0deg 0% 87.37%;
    --xx-muted: 30deg 3.7% 68.24%;
    --xx-error: 0deg 58.72% 57.25%;
    --xx-success: 151.58deg 38.78% 48.04%;
    --xx-warning: 33.47deg 38.78% 48.04%;
    --xx-menu-hover: 0deg 5.88% 84.33%;
    --table-border: 0deg 0% 95.28%;
    --table-hover: 0deg 0% 98.82%;

    --scrollbar-thumb-color: #c1c1c1;
    --scrollbar-track-color: #f1f1f1;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --xx-background: 220deg 4.76% 12.35%;
    --xx-foreground: 30deg 9.09% 95.69%;
    --xx-primary: 0deg 83.54% 62.16%;
    --xx-primary-foreground: var(--xx-foreground);
    --xx-secondary: 0deg 8.29% 39%;
    --xx-secondary-foreground: var(--xx-foreground);
    --xx-surface: 210deg 1.89% 20.78%;
    --xx-surface-foreground: 0deg 0% 73.01%;
    --xx-border: 0deg 0% 32.79%;
    --xx-muted: 30deg 3.7% 68.24%;
    --xx-error: 0deg 58.72% 57.25%;
    --xx-success: 151.58deg 38.78% 48.04%;
    --xx-warning: 33.47deg 38.78% 48.04%;
    --xx-menu-hover: 210deg 5.17% 15.51%;
    --table-border: 220deg 2.64% 18.9%;
    --table-hover: 220deg 4.11% 14.31%;

    --scrollbar-thumb-color: #444;
    --scrollbar-track-color: #222;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-xxbackground-foreground;
    font-size: 13.5px;
  }

  .thin-scroll {
    scrollbar-width: thin;
  }

  .thin-scroll::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
  }

  .thin-scroll::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
  }
}
